#content{
    width: 70%;
    margin: 0 auto;
}

#user{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
#user .img{
    height: 120px;
    width: 120px;
    background-color: #ccc;
    border-radius: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}
#user .img img{
    height: 120px;
    width: 120px;
}
#user .username{
    margin-bottom: 20px;
    font-size: 20px;
}
#user .info span:nth-of-type(1){
    color: #224ecd;
    margin-right: 20px;
}
#user .info span:nth-of-type(2){
    color: #cd2260;
    margin-right: 20px;
}
#user .info span:nth-of-type(3){
    letter-spacing: 1px;
}
#user .msg{
    letter-spacing: 1px;
}

#news{
    margin-top: 30px;
}
#news>header{
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
#news>header span{
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    text-indent: 2px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #006b3a;
    color: #fff;
    position: relative;
}
#news>header span::after{
    content: '';
    display: block;
    width: 80px;
    height: 40px;
    background-color: #006b3a;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    margin-left: -1px;
    position: absolute;
    left: 100%;
    top: 0;
}
#news .cell-imgs, #news .cell-img{
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
#news >div:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}
#news .cell-imgs header>h3, #news .cell-img header>h3{
    font-size: 24px;
    margin: 0;
}
#news .cell-imgs footer>p, #news .cell-img footer>p{
    font-size: 12px;
    color: #666;
}
#news .cell-imgs .img{
    font-size: 0;
}
#news .cell-imgs .img img, #news .cell-img .img img{
    width: 33.333%;
    max-height: 200px;
    padding-right: 10px;
    box-sizing: border-box;
}
#news .cell-imgs header{
    margin-bottom: 20px;
}
#news .cell-img .img img{
    float: left;
}
#news .cell-img:after{
    content: '';
    height: 20px;
    display: block;
    clear: both;
}